@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply text-indigo-700 hover:text-indigo-900 hover:underline;
}

@keyframes copied {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.animate-copied {
    animation-name: copied;
    animation-duration: 250ms;
}
